* {
  padding: 0;
  box-sizing: border-box;
  margin: 0; }

body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
  background: #fefcea;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fefcea 0%, #f1da36 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fefcea 0%, #f1da36 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 );
  /* IE6-9 */ }

header .logito {
  text-align: center;
  animation: logo 2s ease; }
  header .logito .logo {
    width: 150px; }

header h1 {
  color: #020201;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Lobster', cursive; }
  header h1 #tit1 {
    animation: tituloprincipal 4s ease; }

@keyframes tituloprincipal {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

header h2 {
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  color: #8b6c16;
  font-family: 'Fira Sans Extra Condensed', sans-serif; }
  header h2 #tit2 {
    animation: titulosecundario 6s ease; }

@keyframes titulosecundario {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

header .navbar {
  background-color: rgba(255, 196, 0, 0.726);
  padding: 2%;
  text-align: center;
  font-family: 'Fira Sans Extra Condensed', sans-serif; }
  header .navbar li a:hover {
    background-color: #db8f2c;
    border-radius: 80%; }

main .portadas {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap; }
  main .portadas .imagengrande {
    height: 450px;
    width: 450px;
    margin: 20px; }
    main .portadas .imagengrande:hover {
      transform: scale(1.2, 1.2);
      transition: all 2s; }

main .botonarriba {
  width: 80px;
  padding: 5px;
  background-color: beige;
  margin: 5px;
  border: 25px black;
  font-weight: bold;
  bottom: 50px;
  left: 5px;
  text-decoration: none;
  color: #c98724; }

footer {
  background-color: rgba(184, 147, 25, 0.534);
  font-size: 20px;
  font-family: 'Lobster', cursive;
  flex-direction: row; }

.foot {
  display: flex;
  justify-content: space-evenly; }

section .direcciontelefono {
  height: 200;
  width: 200;
  text-align: center;
  margin: 10mp; }
  section .direcciontelefono p {
    font-family: 'Fira Sans Extra Condensed', sans-serif; }

section .redessolciales {
  width: 30;
  display: inline-block;
  text-align: center; }

#copy {
  text-align: center;
  size: 10px; }
  #copy p {
    font-family: 'Fira Sans Extra Condensed', sans-serif; }

@media screen and (max-width: 768px) {
  .conteinerr {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-areas: "top" "nav" "portadas" "footerr"; }
  .menu li {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .portadas {
    grid-area: portadas;
    text-align: center; }
  .imggrande {
    height: 250px;
    width: 250px;
    margin: 5px; }
  #contacto {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #mapa {
    margin-top: 2cm; }
  .imggrande:hover {
    transform: scale(2, 2);
    transition: all 2s; }
  .lineas {
    width: 350; } }

@media screen and (max-width: 768px) {
  .conteinerr {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-areas: "top" "nav" "portadas" "footerr"; }
  .menu li {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .portadas {
    grid-area: portadas;
    text-align: center; }
  .imggrande {
    height: 250px;
    width: 250px;
    margin: 5px; }
  #contacto {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #mapa {
    margin-top: 2cm; }
  .imggrande:hover {
    transform: scale(2, 2);
    transition: all 2s; }
  .lineas {
    width: 350; } }
