* {
  padding: 0;
  box-sizing: border-box;
  margin: 0; }

body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
  background: #fefcea;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fefcea 0%, #f1da36 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fefcea 0%, #f1da36 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 );
  /* IE6-9 */ }

header .logito {
  text-align: center;
  animation: logo 2s ease; }

@keyframes logo {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

header .logo {
  width: 150px; }

header h1 {
  color: #020201;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Lobster', cursive; }

header #tit1 {
  animation: tituloprincipal 4s ease; }

@keyframes tituloprincipal {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

header h2 {
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  color: #8b6c16;
  font-family: 'Fira Sans Extra Condensed', sans-serif; }

header #tit2 {
  animation: titulosecundario 6s ease; }

@keyframes titulosecundario {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

header .navbar {
  background-color: rgba(255, 196, 0, 0.726);
  padding: 2%;
  text-align: center;
  font-family: 'Fira Sans Extra Condensed', sans-serif; }
  header .navbar li a:hover {
    background-color: #db8f2c;
    border-radius: 80%; }

main .portadas {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap; }
  main .portadas .imagengrande {
    height: 450px;
    width: 450px;
    margin: 20px; }
    main .portadas .imagengrande:hover {
      transform: scale(1.2, 1.2);
      transition: all 2s; }

main .botonarriba {
  width: 80px;
  padding: 5px;
  background-color: beige;
  margin: 5px;
  font-weight: bold;
  bottom: 50px;
  left: 5px;
  text-decoration: none;
  color: #c98724; }

main .sobrenosotros {
  display: flex;
  flex-direction: column;
  align-items: center; }

main h3 {
  font-size: 2rem;
  font-family: 'Lobster', cursive;
  width: 40%;
  color: #856613;
  text-decoration: underline; }

main #somos {
  width: fit-content;
  background-color: rgba(255, 196, 0, 0.726);
  margin: 10 auto;
  text-align: center; }

main #aboutus {
  width: 55%;
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center; }
  main #aboutus p {
    font-family: 'Fira Sans Extra Condensed', sans-serif; }

main .botonarriba {
  width: 80px;
  padding: 5px;
  background-color: beige;
  margin: 5px;
  font-weight: bold;
  bottom: 50px;
  left: 5px;
  text-decoration: none;
  color: #c98724; }

main h3 {
  font-size: 2rem;
  font-family: 'Lobster', cursive;
  width: 40%;
  color: #856613;
  text-decoration: underline; }

main #titulo1 {
  width: fit-content;
  background-color: rgba(255, 196, 0, 0.726);
  margin: 10 auto;
  text-align: center; }

main .serv {
  background-color: rgba(255, 196, 0, 0.726);
  margin: 10 auto;
  border: solid black 2px;
  text-align: center;
  align-content: center; }

main h4 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  padding: 1rem; }

main .titulos {
  margin: 1rem;
  background-color: #db8f2c;
  text-align: center; }

main p {
  font-family: 'Fira Sans Extra Condensed', sans-serif; }

main .servicios {
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center; }

main .imagenchica {
  width: 250px;
  height: 250px;
  padding: 3rem;
  align-items: center; }
  main .imagenchica:hover {
    transform: scale(1.5, 1.5);
    transition: all 2s; }

main .botonarriba {
  width: 80px;
  padding: 5px;
  background-color: beige;
  margin: 5px;
  font-weight: bold;
  bottom: 50px;
  left: 5px;
  text-decoration: none;
  color: #c98724; }

main h3 {
  font-size: 2rem;
  font-family: 'Lobster', cursive;
  width: 40%;
  color: #856613;
  text-decoration: underline; }

main #titulo2 {
  width: fit-content;
  background-color: rgba(255, 196, 0, 0.726);
  margin: 10 auto;
  text-align: center; }

main .obras {
  margin: 0 auto;
  border: solid black 2px;
  text-align: center;
  align-content: center;
  background-color: rgba(255, 196, 0, 0.726); }

main h4 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  padding: 1rem; }

main .titulos {
  margin: 1rem;
  background-color: #db8f2c;
  text-align: center; }

main p {
  font-family: 'Fira Sans Extra Condensed', sans-serif; }

main .imagenchica {
  width: 250px;
  height: 250px;
  padding: 3rem;
  align-items: center; }
  main .imagenchica:hover {
    transform: scale(1.5, 1.5);
    transition: all 2s; }

main .botonarriba {
  width: 80px;
  padding: 5px;
  background-color: beige;
  margin: 5px;
  font-weight: bold;
  bottom: 50px;
  left: 5px;
  text-decoration: none;
  color: #c98724; }

main h3 {
  font-size: 2rem;
  font-family: 'Lobster', cursive;
  width: 40%;
  color: #856613;
  text-decoration: underline; }

main #contactanos {
  width: fit-content;
  background-color: rgba(255, 196, 0, 0.726);
  margin: 10 auto;
  text-align: center; }

main #formulario {
  width: 28rem;
  height: 38rem;
  background-color: #db8f2c;
  padding: 0.8rem;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  margin: 0.5cm; }
  main #formulario .lineas {
    display: block;
    padding: 5px;
    width: 400;
    text-align: justify; }

main #mapa {
  margin: 0.5cm; }

main .botonarriba {
  width: 80px;
  padding: 5px;
  background-color: beige;
  margin: 5px;
  font-weight: bold;
  bottom: 50px;
  left: 5px;
  text-decoration: none;
  color: #c98724; }

footer {
  background-color: rgba(184, 147, 25, 0.534);
  font-size: 20px;
  font-family: 'Lobster', cursive;
  flex-direction: row; }

.foot {
  display: flex;
  justify-content: space-evenly; }

section .direcciontelefono {
  height: 200;
  width: 200;
  text-align: center;
  margin: 10mp; }
  section .direcciontelefono p {
    font-family: 'Fira Sans Extra Condensed', sans-serif; }

section .redessolciales {
  width: 30;
  display: inline-block;
  text-align: center; }

#copy {
  text-align: center;
  size: 10px; }
  #copy p {
    font-family: 'Fira Sans Extra Condensed', sans-serif; }

@media screen and (max-width: 768px) {
  main .imggrande {
    height: 250px;
    width: 250px;
    margin: 5px; }
    main .imggrande:hover {
      transform: scale(2, 2);
      transition: all 2s; }
  main #mapa {
    margin-top: 2cm; }
  main .lineas {
    width: 350; } }
