main{
    .portadas{
        justify-content: center;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        .imagengrande{ 
                height: 400px;
                width: 400px;
                margin: 20px;
                border-radius: 5%;
                &:hover{
                    transform: scale(1.2,1.2);
                    transition: all 2s;
                    border-radius: 0%;
                }
        }
    }
    .botonarriba{
        width: 80px;
        padding: 10px;
        background-color: beige;
        margin: 5px ;
        font-weight: bold;
        bottom: 50px;
        left: 5px;
        text-decoration: none;
        color: $color-botonarriba;
        border-radius: 90%;
    }   
}