$color-navbar-titulos: rgba(255, 196, 0, 0.726);
$color-letra-h1: rgb(2, 2, 1);
$color-letra-h2:rgb(139, 108, 22);
$color-letra-h3: rgb(133, 102, 19);
$color-fondo-footer: rgba(184, 147, 25, 0.534);
$color-navbar-hover: rgb(219, 143, 44);
$color-botonarriba: rgb(201, 135, 36);
